@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Handlee&display=swap');

/*
font-family: 'Dancing Script', cursive;
font-family: 'Handlee', cursive;
*/
:root {
    --fuente-titulo: 'Handlee', cursive;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.wrapper {
    width: 60%;
    margin: 40px auto;
    box-shadow: 2px 2px 1px 1px rgba(100, 125, 100, 0.2);
    border-left: 2px solid rgba(100, 125, 100, 0.2);
    border-top: 2px solid rgba(100, 125, 100, 0.2);
    border-radius: 15px;
    background-color: rgb(245, 244, 244, 0.7);
    /* overflow: hidden; */
    position: relative;
}

body {
    background-image: url(../assets/images/hojas.png), url(../assets/images/hojasFlip.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom, right top;
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
}

h1 {
    text-align: center;
    font-size: 1.5em;
    font-family: var(--fuente-titulo);
    color: white;
    padding: 2px;
}

header {
    min-height: 80px;
    background-color: rgb(16, 220, 220, 0.7);
    padding: 5px 0;
    margin-bottom: 40px;

}

.wrapperCrear {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.85;
    z-index: 1;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: none;
}

.crearTarea {
    max-width: 400px;
    min-height: 200px;
    border-radius: 15px;
    background-color: aqua;
    position: absolute;
}

.crearTarea .salir {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: tomato;
    color: white;
    top: -5px;
    right: 0px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#creaTarea {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


#creaTarea input {
    margin: 20px 20px 20px 20px;
    width: 300px;
    height: auto;
    border-radius: 5px;
    padding: 10px;
}

#creaTarea div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#creaTarea div>input:last-child {
    width: 50%;
    height: auto;
    /* margin-left: 100px; */
    background-color: white;
    cursor: pointer;
}

#regPrioridad {
    width: 300px;
    height: auto;
    padding: 10px;
    /* margin-left: 100px; */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscar {
    padding: 5px;

}


#buscar {
    width: 95%;
    padding: 5px;
    margin: 0 0 5px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(100, 125, 100, 0.2);
}

#buscPrioridad {
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(100, 125, 100, 0.2);
    font-family: var(--fuente-titulo);
    font-size: 1em;
    margin-left: 10px;
}

header input {
    padding: 2px;
}

main {
    width: 100%;
    padding: 20px;
}

#toDo,
#toDo2 {
    width: calc(100% - 10px);
    /* border: 1px solid #860808; */

    padding: 5px 5px 5px 0;
    margin-bottom: 3em;
}

#toDo2 {
    min-height: 350px;
}

.div-tareas {
    gap: 10px;

}

.div-tareas section {
    position: relative;
}

.div-tareas section a {
    display: inline-block;
    text-decoration: none;
    color: rgb(16, 220, 220);
}

.div-tareas section>a {
    width: 100%;
}

.div-tareas h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3em;
    color: rgb(16, 220, 220);
    position: absolute;
    top: -0.5em;
    left: 0;
}

.tarea,
.create {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    box-shadow: 2px 2px rgba(100, 125, 100, 0.2);
    border-top: 2px solid rgba(100, 125, 100, 0.2);
    border-left: 2px solid rgba(100, 125, 100, 0.2);
    border-radius: 5px;
}

.create {
    justify-content: center;
    color: rgb(16, 220, 220);
}

.tarea h3 {
    font-family: var(--fuente-titulo);
    font-size: 1em;
}

/* 
@media(min-width:62.750em) {

    .wrapper {
        max-width: 62.750em;
    }
} */